Reference for BERT Tutorial: https://medium.com/@aniruddha.choudhury94/part-2-bert-fine-tuning-tutorial-with-pytorch-for-text-classification-on-the-corpus-of-linguistic-18057ce330e1

### Parsing Data

In [7]:
import pandas as pd

df = pd.read_csv('data/train.csv',
                header = 0)
print('Number of tuples: {:,}'.format(df.shape[0]))
df.sample(10)

Number of tuples: 7,613

,id,keyword,location,text,target
7378,10561,windstorm,Puerto Rico,Reality Training: Train falls off elevated tra...,1
1585,2288,cliff%20fall,36 & 38,i hope u trip n fall of a cliff after this twe...,0
692,997,blazing,Your screen,S3XLEAK!!!\nPh0tos of 19yrs old Ash@wo lady in...,0
5035,7179,mudslide,"Holly Springs, NC",@UrufuSanRagu a Mudslide?,1
563,814,battle,NaN,A young German stormtrooper engaged in the Bat...,1
5523,7878,quarantined,NaN,Alabama firefighters quarantined after possibl...,1
4510,6410,hurricane,Somewhere Powerbraking A Chevy,@Freegeezy17 you stay in Houston?,0
5042,7188,mudslide,Notts,#BakeOffFriends #GBBO 'The one with the mudsli...,0
172,247,ambulance,Jackson,http://t.co/AY6zzcUpnz Twelve feared killed in...,1
3521,5034,eyewitness,NaN,How ÛÏLittle BoyÛ Affected the People In Hi...,1

In [16]:
tweets = df.text.values
targets = df.target.values
print(tweets[0])
print(targets[0])

Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1

### Tokenizing

In [ ]:
from transformers import BertTokenizer

for t in tweets:
    token = tokenizer.encode(t,
                             add_special_tokens = True,
                             max_length = 144)